.highlight {
  color: #F00;
}

.highlight-form {
  background-color: #FF0;
}

.highlight-things {
  color:rgb(147, 64, 224);
}

.item {
  margin-left: 8px;
}
.box{
  width: 100px;
  height: 100px;
  background-color: #CFC;
}
.highlight-click {
  background-color: #FCC;
}